/* GOOGLE FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap');

/* ASTERISK WILDCARD SELECTOR TO OVERRIDE DEFAULT STYLES ADDED BY BROWSER ----------------------------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERAL STYLES ----------------------------------------*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* GENERIC PROJECT STYLES*/
    color: #3a3a3a;
    font-family:"Lato", sans-serif;
}

/* HEADER ----------------------------------------*/
header {
    background-color:#ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width:100%;
    box-shadow: 0 2px 2px #3a3a3a; /*this is the shadow underneath the nav box*/
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 { 
    font-family:"Oswald", sans-serif;
    text-transform:uppercase;
    letter-spacing: 2px;
    color:#252525;
}

#menu { /*ul on nav bar*/
    font-size:110%;
    letter-spacing:4px;
    list-style-type:none;
}
#menu > li { /*list items on menu*/
    margin-bottom: 1em;
}
.active {
    border-bottom: 1px solid #3a3a3a;
}
/*NAVBAR STYLES WITH DROPDOWN TOGGLE ----------------------------------------*/
nav {
    position:absolute; /* poistions the item outside of the regular structure -> relative to the nearest positioned ancestor*/
    background-color:#ffffff;
    width:100%;
    left: 0;
    padding : 0  1rem;
    box-shadow:0 2px 2px #3a3a3a;
    display:none;
}

/* MAIN ---------------------------------------- */
main {
    background-color: palevioletred;
    /* MAKE MAIN ELEMENTS TAKE UP SPACE*/
    flex: 1 0 auto;
}

/* FOOTER */
footer {
    background-color: rgb(241, 167, 228);
}

